*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import "scss/secciones/indexPrincipal";

@import "scss/secciones/index2";

@import "scss/secciones/index3";

@import "scss/secciones/index4";

@import "scss/secciones/index5";

@import "scss/mixinsYcolores/mixin"