.containerIndex5 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navMarcas navMarcas navMarcas navMarcas"
      "navegacion navegacion navegacion navegacion"
      "mainContacto mainContacto mainContacto mainContacto"
      "footerRedes footerRedes footerRedes footerRedes";
  
  
  .navMarcas { 
    grid-area: navMarcas; 
    width: 100%;
        .navMarcas{
            background-color: black;
            display: flex;
            justify-content: space-evenly;
            

        }
    }
    

    
  
  .navegacion { 
        grid-area: navegacion; 
    }
  
  .mainContacto { 
        grid-area: mainContacto;
        
        .banner_contacto{
            h3{
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                text-align: center;
                color: black;
                
            }
        }

        .infoContacto{
            background-image: linear-gradient(white,gray);
            height: auto;
            h2{
                padding: 30px;
                text-align: center;
                color: blueviolet;
                font-size: 35px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .opcionesContacto{
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 50px;
    
                    h5{
                        font-size: 24px;
                        color: black;
                        font-weight: bolder;
                    }
    
                    p{
                        text-align: center;
                    }
    
                    a{
                        background-color: blueviolet;
                        color: white;
                        padding: 5px;
                        text-decoration: none;
                        border-radius: 5px;
                        &:hover{
                            background-color: rgb(73, 2, 139);
                            transition: 2s;
                        }
                    }
                }
            }
        }

        .formularioContacto{
            .soporteInicio{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-image: url("../img/fondoVioleta.jpg");
                height: 400px;
                margin: 0 20px;
                border: 3px solid blueviolet;
                h1{
                    color: black;
                    font-weight: bolder;
                }
            }
            .soporteFormulario{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                background-color: rgb(233, 233, 233);
                border: 3px solid gray;
                margin:  0 20px;
                height: 500px;
                h3{
                    color: black;
                    font-weight: bolder;
                    font-size: 30px;
                    text-decoration: underline;
                }

                form{
                    input{
                        border: none;
                        border-bottom: 2px solid rgb(85, 85, 85);
                        background-color: rgb(233, 233, 233);
                    }
                }
            }
        }
    }
  
  .footerRedes { grid-area: footerRedes; }


}

@media (min-width:950px){
    .containerIndex5{
        .navegacion{
            .navegacionBarra{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .barraLinks{
                    ul{
                        li{
                            a{
                                font-size: 14px;
                                margin: 0 30px;
                            }
                        }
                    }
                }
                
            
            }
        }
       .mainContacto{
            .banner_contacto{
                img{
                    width: 100%;
                    height: 450px;
                }
                h3{
                    top: 40%;
                    left: 30%;
                    font-size: 70px;
                    color: black;
                    font-weight: bold;
                }
            }

            .infoContacto{
                height:1100px;
                h2{
                    font-size: 50px;
                }
                .opcionesContacto{
                   display: flex;
                   justify-content: center;
                }
            }
            .formularioContacto{
               display: flex;
               justify-content: center;
               .soporteInicio{
                    height: 500px;
                    margin: 0;
                    width: 500px;
                    margin-left: 30px;
               }

               .soporteFormulario{
                height: 500px;
                margin: 0;
                width: 500px;
                margin-right: 30px;
               }
            }
       }

      
    }

}

@media (min-width:600px){
    .containerIndex5{
        .navegacion{
            .navegacionBarra{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .mainContacto{
            .banner_contacto{
                h3{
                    font-size: 40px;
                }
            }
        }
    }
}