.containerIndex4 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "marcas marcas marcas marcas"
      "navegacion navegacion navegacion navegacion"
      "area area area area"
      "footerMarcas footerMarcas footerMarcas footerMarcas";
  
  
    .marcas { 
        grid-area: marcas; 
        .navMarcas{
            background-color: black;
            display: flex;
            justify-content: space-evenly
        }
    }
  
    .navegacion { 
        grid-area: navegacion; 
    }
  
    .area { 
        grid-area: area;
        
        .bannerMembresia{
            background-image: url("/img/banner4.webp");
            background-position: center;
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            h1{
                color: blueviolet;
                font-size: 40px;
            }

            a{
                text-decoration: none;
                background-color: blueviolet;
                padding: 7px;
                border-radius: 3px;
                color: white;
                &:hover{
                    background-color: indigo;
                    transition: 1.2s;
                }
            }
        }

        .recompensas{
            background-image: linear-gradient(black,rgb(67, 67, 67));
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h2{
                color: blueviolet;
                font-size: 45px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            a{
                text-decoration: none;
                background-image: linear-gradient(gray,black);
                padding: 9px;
                color: white;
                border: 2px solid gray, black;

                &:hover{
                    transition: 3s;
                    color: blueviolet;
                }
            }

            .recompensasLogo{
                display: flex;
                align-items: center;
                flex-direction: column;

                img{
                    background-color: white;
                    border-radius: 4px;
                }

                h4{
                    color: white;
                }
            }

        }

        .mesesBnef{
            background-color: rgb(53, 6, 60);
            height: 600px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            div{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 30px 0;

                h3{
                    text-align: center;
                    color: rgb(179, 0, 255);
                }

                
            }
        }

        .unirseIniciar{
            background-color: rgb(41, 3, 47);   
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            align-content: center;

            h1{
                width: 90%;
                text-align: center;
                color: rgb(179, 0, 255);
            }

            p{
                width: 90%;
                text-align: center;
                color: rgb(255, 255, 255);
            }

            div{
                a{
                    background-color: blueviolet;
                    text-decoration: none;
                    color: white;
                    padding: 5px;
                    &:hover{
                        background-color: indigo;
                        transition: 1.2s;
                    }
                }
            }
        }
    }
  
    .footerMarcas { 
        grid-area: footerMarcas;
        background-image: linear-gradient(black,gray);
        display: flex;
        justify-content: space-around;
        height: auto;
        align-items: center; 
    }


}

@media (min-width:950px){
    .containerIndex4{
        .navegacion{
            .navegacionBarra{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .barraLinks{
                    ul{
                        li{
                            a{
                                font-size: 14px;
                                margin: 0 30px;
                            }
                        }
                    }
                }
            
        
            }
        }

        .area{
            .recompensas{
                height: 500px;
            }

            .mesesBnef{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 400px;
            }

            .unirseIniciar{
                height: 400px;
                p{
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width:550px){
    .containerIndex4{
        .navegacion{
            .navegacionBarra{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .barraLinks{
                    ul{
                        li{
                            a{
                                font-size: 14px;
                                margin: 0 30px;
                            }
                        }
                    }
                }
            
        
            }
        }

        

        
    }
}
